@import '../image/image.css';

.content{
    font-weight: bold;
    font-family: assistant;
    color: #110944;
}
.icon{
    margin-left: 10px;
}
.progress-bar {
background-color: #30389b !important;
height: 10px !important;
}