@import '../image/image.css';

h1{
    font-family: MyWebFont;
}
hr{
    color: #110944 !important;
}
h2{
    font-family: assistant;
    font-size: 1.6em;
    color: #110944;
}
p{
    font-family: assistant;
    color: #30389b;
}
.education{
    top: 0;
}